<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <ion-item cass="item-divider">Units</ion-item>
            <ion-radio ng-model="sc.settings.units" ng-value="'us'">Imperaial (Fahrenheit)</ion-radio>
            <ion-radio ng-model="sc.settings.units" ng-value="'si'">Metric (Celsius)</ion-radio>
            <div class="item item-divider">Days in forecast <span class="badge badge-dark">{{sc.settings.days - 1}}</span></div>
            <div class="item range range-positive">
                2 <input type="range" name="days" ng-model="sc.settings.days" min="2" max="8" value="8"> 8
            </div>
            <div class="item item-button-right">
                Favorites <button class="button button-small" ng-click="canDelete = !canDelete" />{{canDelete ? 'Done' : 'Edit'}} |
                Reorder <button class="button button-small" ng-click="state.reordering = !state.reordering"/>Reorder
            </div>
        </ion-list>
        <ion-list show-delete="canDelete" show-reorder="state.reordering">
            <ion-item ng-repeat="location in sc.locations">
                <ion-delete-button class="ion-minus-circled" ng-click="sc.remove($index)"></ion-delete-button>{{location.city}}
                <ion-reorder-button class="ion-navicon" on-reorder="sc.move(location, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
        <p class="padding">
            Weather Data powered by <a href="https://developer.forecast.io/docs/v2">Forecast.io</a> and geocoding powered by <a href="https://developers.google.com/maps/documentation/geocoding">Google</a>.        
        </p>
    </ion-content>
</ion-view>